<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <table>
        <th:block th:each="tiles : ${board.mapToRows()}">
            <tr>
                <th:block th:each="tile : ${tiles}">
                    <td th:text="${tile.weight}" th:style="'background-color: rgb(' + (${tile.weight} *2.5) + ',0,0)'"></td>
                </th:block>
            </tr>
        </th:block>
    </table>
    <a th:href="@{/gameHistoryPage/{gameId}/{boardId}(gameId=${gameId}, boardId=${boardId-1})}">Prev</a>
    <a th:href="@{/gameHistoryPage/{gameId}/{boardId}(gameId=${gameId}, boardId=${boardId+1})}">Next</a>
</body>
</html>